<div id="categories-wrapper" class="teal z-depth-5 p-2" [@scale-up]="state">
  <lyonscg-category (categoryClick)="categoryClick($event)" *ngFor="let category of categories" [category]="category"></lyonscg-category>
</div>