<div class="teal lighten-3 z-depth-3" [@scale-up]="state">
    <div class="card small">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" [src]="category.imageSrc">
        </div>
        <div class="card-content">
          <span class="card-title activator lead">{{category.name}}<i class="material-icons right">more_vert</i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title">{{category.name}}<i class="material-icons right">close</i></span>
          <p class="card-description">{{category.description}}</p>
          <hr>
          <div id="subCategories" class="container">
              <div class="subCategory teal lighten-5 z-depth-2" *ngFor="let subCategory of subCategories">
                <div class="lead text-center"> {{subCategory.name}} </div>
                <a class="div-link" (click)="onClickCategory(category.name +' '+ subCategory.name)"></a>
              </div>
          </div>
        </div>
      </div>
</div>
