.card-title {
    font-size: 2.5em;
}

p.card-description {
    font-size: 1.35em;
}

#subCategories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 1em;
    grid-column-gap: 1em;
}

.subCategory {
    align-self: center;
    position: relative;
}

.div-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    z-index: 10;
    background-color: white;
    opacity: 0;
}
