#jumbotron-wrapper {
    position: relative;
}

.jumbotron {
    padding: 1em;
}

h1 {
    margin: auto;
}

h3 {
    margin: auto;
}


.header-express {
    grid-area: express;
    align-self: center;
}

.header-ocapi {
    grid-area: ocapi;
    align-self: center;
}

.header-lyonscommerce {
    grid-area: lyonscommerce;
    align-self: center;

}

.header-angular {
    grid-area: angular;
    align-self: center;
}

.header-materialize {
    grid-area: materialize;
    align-self: center;
}



#grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.25em;
    grid-template-areas: 
    "lyonscommerce lyonscommerce"
    "express ocapi"
    "angular materialize"
}


@media screen and (min-width: 770px) {
    #grid-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 0.5em;

        grid-template-areas: 
        "lyonscommerce lyonscommerce lyonscommerce lyonscommerce"
        "express ocapi angular materialize";
    }
}

@media screen and (min-width: 1000px) {
    #grid-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-auto-rows: minmax(100px, auto);
        grid-gap: 1em;
        grid-template-areas: "express ocapi lyonscommerce lyonscommerce angular materialize";
    }
    
}