<div id="jumbotron-wrapper">
  <div class="jumbotron teal z-depth-5" [@scaling]="state">
    <div class="container p-3 teal lighten-2 z-depth-4">
      <div id="grid-wrapper" class="text-center">
        <div class="header-express">
          <h3 id="test" class="flow-text p-3 teal lighten-4 z-depth-3">
            Express
          </h3>
        </div>
        <div class="header-ocapi">
          <h3 class="flow-text p-3 teal lighten-4 z-depth-3">
            OCAPI
          </h3>
        </div>
        <div class="header-lyonscommerce">
          <h1 class="p-3 teal lighten-5 z-depth-3">
            LYONS Commerce
          </h1>
        </div>
        <div class="header-angular">
          <h3 class="flow-text p-3 teal lighten-4 z-depth-3">
            Angular
          </h3>
        </div>
        <div class="header-materialize">
          <h3 class="flow-text p-3 teal lighten-4 z-depth-3">
            Materialize
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
