<div class="product teal lighten-3 z-depth-4" [@scale-up]="state">
  <div class="card">
    <div class="card-image">
      <img class="responsive-img" [src]="product.img">
      <div class="conatiner text-center flow-text card-title">{{product.name}}</div>
    </div>
    <div class="card-content">
      <p>{{description}}</p>
    </div>
    <div class="card-action">
      <p>${{product.price}}</p>
    </div>
  </div>
</div>
