<div id="product-wrapper" class="teal z-depth-5 p-2" [@scale-up]="state" infiniteScroll [infiniteScrollDistance]="0.5" [infiniteScrollThrottle]="500" (scrolled)="onScroll()">
  <lyonscg-product class="product" *ngFor="let product of products" [product]="product"></lyonscg-product>
</div>
