<div id="main-wrapper">

  <!-- HEADER  -->
  <div id="lyonscgHeader" class="white teal darken-2 z-depth-2">
    <lyonscg-header></lyonscg-header>
  </div>

  <!-- SEARCH  -->
  <div id="lyonscgProductSearch" class="container">
    <lyonscg-product-search (receiveSearchQuery)="receiveSearchQuery($event)" [invalidSearch]="invalidSearch" [query]="query"></lyonscg-product-search>
  </div>

  <!-- PRODUCTS -->
  <div id="lyonscgProducts" *ngIf="products.length">
    <lyonscg-products [products]="products" (getMoreProducts)="productsPaginationRequest($event)"></lyonscg-products>
  </div>
  <!-- CATEGORIES -->
  <div id="lyonscgCategories" *ngIf="!query">
    <lyonscg-categories id="lyonscgCategories" (categoryQuery)="receiveCategoryQuery($event)"></lyonscg-categories>
  </div>



</div>
