#product-search {
    text-align: center;
    margin-bottom: 2px;
}

input[type=text].validation {
    border-bottom: 2px solid red !important;
    box-shadow: 0 1px 0 0 red !important
}
input[type=text] {
    border-bottom: 2px solid white !important;
    color: #e0f2f1;
}

label {
    text-align: center;
    padding: 0 0.75rem;
    transform: translateX(-10px);
    opacity: 1;
    color: #e0f2f1;
}

label.change {
    opacity: 0;
}

.input-field {
    margin-bottom: 1em;
}

.input-field label:not(.label-icon).active {
    transform: translateY(-20px) translateX(-10px) scale(1);
    opacity: 0;
    transition: all 0.33s ease;
}
