<div class="container" [@opacity]="state">
  <div class="input-field text-center col s6">
    <input [ngModel]='query' (ngModelChange)='queryUpdate($event)' id="product-search" type="text" class="validate" [ngClass]="{'validation': invalidSearch}">
    <label class="active" [ngClass]="{'change' : isActive}"  for="product-search">Search All Products</label>
  </div>
</div>
